#footer{
    width: 100%;
    height: 400px;
    background-color: #009e96;
    clear: both;
    text-align: center;
    margin-top: 100px;
}

.footer-logo{
    padding-top: 80px;
    text-align: center;
}

.footer-logo img{
    max-width: 20%;
}

.footer-contents{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    padding: 50px 30px;

}

.footer-item{
    font-size: 24px;
  font-weight: bold;
    margin-right: 20px;
    font-family: "Pinyon Script";
}

.footer-item a{
    text-decoration: none;
    color: #fff;
}

.footer-item a:hover{
    border-bottom: 1px dashed #996c33;
    color: #996c33;
}

.footer-copy{
    font-size: 12px;
    font-family: "Arial";
    color: #fff;
    margin-top: 48px;
}

@media screen and (min-width: 758px){
    
    #footer{
    width: 100%;
    height: 600px;
    background-color: #009e96;
    clear: both;
}

    .footer-logo{
    padding-top: 120px;
    text-align: center;
}

    .footer-logo img{
    max-width: 20%;
}
    
    .footer-item{
    font-size: 40px;
    margin-right: 48px;
    font-family: "Pinyon Script";
}
    
    .footer-copy{
    font-size: 20px;
    font-family: "Arial";
    color: #fff;
    margin-top: 120px;
}

    
}