#header{
    min-width: 320px;
    height: auto;
    background-color: #81D8D0;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
//    width: cal(73/320*100%);
//    height: cal(42/68*100%);
    padding: 12px;
}

.logo img{
    max-width: 20%;
    padding: 10px;
//    width: cal(73/320*100%);
//    height: cal(42/68*100%);
    float: left;
    @extend %cf;
}

.toggle-button{
    
    float: right;
    margin-right: 20px;
//    line-height: 68px;
    
}

.mv img{
    width: 100%;
    margin: 0 auto;
//    margin-bottom: 16px;
}

//img{
////    width: cal(100/320*100%);
////    height: cal(32/68*100%);
////    padding: 20px;
//    float: right;
//}

.mv-title{
    font-size: 100px;
    font-family: "Pinyon Script";
    color: #81d8d0;
    
}

.mv-txt{
    font-size: 60px;
    font-family: "Pinyon Script";
    color: #fff;
}


.mv-title-section{
    position: absolute;
    top: 50%;
    left: 50%;
}

@media screen and (min-width: 758px){
    
    #header{
//        height: 200px;
        height: auto;
     
        
        
}
    .toggle-button{
        display: none;
}
    
    .logo{
        text-align: center;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    
    
    .logo img{
        max-width: 20%;
        padding: 30px;
        display: inline-block;
//        clear: both;
        
        
    }
    
    .mv-title{
    font-size: 200px;
    font-family: "Pinyon Script";
    color: #81d8d0;
    
}

.mv-txt{
    font-size: 80px;
    font-family: "Pinyon Script";
    color: #fff;
}


.mv-title-section{
    position: absolute;
    top: 50%;
    left: 50%;
}
    
}
