.heading img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 30px 30px;
}


//aboutの編集ここから
.img-main {
    max-width: 1166px;
    margin: 0 20px;
}

.img-main img {
    width: 100%;
}

.section-main__txt {
    font-size: 16px;
    color: #996c33;
    font-family: "Meiryo";
    line-height: 1.5;
    padding: 20px;
}

.img-main {
    max-width: 1166px;
    margin: 0 20px;
}

.img-main img {
    width: 100%;
    margin: 0 auto;
}

.recommended{
  margin-top: 180px;
}


.heading-rec{
  font-size: 36px;
  font-family: "Pinyon Script";
  font-weight: bold;
  color: #996c33;
  border-bottom: 2px solid #996c33;  
  margin-bottom: 50px;
  padding-left: 20px;
}

.heading-rec-jpg{
  font-size: 16px;
  font-family: "Meiryo";
  font-weight: normal;
  padding-top: 16px;
  padding-right: 20px;
  float: right;
}

.img-rec {
    
    width: 50%;
    float: left;
}

.img-rec img {
    width: 60%;
}

.fig-txt {
    font-size: 20px;
    font-family: "Meiryo";
    color: #996c33;
    padding: 10px;
}

.content-figure {
    width: 100%;
    text-align: center;
    @extend %cf;
}

.access {
    text-align: center;
}

.access-txt {
    font-size: 20px;
    font-family: "Meiryo";
    color: #996c33;
    margin-top: 20px;
    //    border-bottom: 1px solid #996c33;
    text-align: left;
    padding: 10px;
}

.section-access {
    text-align: center;
    display: inline-block;
}

.section-access__txt {
    width: 400px;
    font-size: 16px;
    color: #996c33;
    font-family: "Meiryo";
    text-align: left;
    line-height: 1.5;
    padding: 20px;
}


.wrap-access-txt {
    display: flex;
    flex-direction: column;
}

.section-access {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 758px) {
  
  .heading img{
    padding-bottom: 50px;
  }
  
    .section-main__txt {
        font-size: 16px;
        color: #996c33;
        font-family: "Meiryo";
        line-height: 1.5;
        text-align: left;
    }
  
  .recommended{
  margin-top: 300px;
}


.heading-rec{
  font-size: 64px;
  font-family: "Pinyon Script";
  font-weight: bold;
  color: #996c33;
  border-bottom: 4px solid #996c33;  
  margin-bottom: 50px;
  padding-left: 20px;
}
  
  .heading-rec-jpg{
  font-size: 28px;
  font-family: "Meiryo";
  font-weight: normal;
  padding-top: 30px;
  padding-right: 20px;
  float: right;
}
  
    .fig-txt {
        font-size: 28px;
        font-family: "Meiryo";
        color: #996c33;
        padding: 20px;
    }
    .wrap-access-txt {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
    }
    .section-access {
        display: block;
        margin: 0 auto;
    }
    
    .access-txt{
        font-size: 28px;
    }
    
    .section-access__txt{
        width: 460px;
        font-size: 20px;
    }
}
